**/.port_coordination
**/alluxio-site.properties
**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*.log
*~
.DS_STORE
.DS_Store
.checkstyle
.classpath
.idea/
.metadata/
.project
.settings/
/docs/*
/extensions/
/generated/
/journal/
/lib/*.jar
/logs/*.log*
/logs/*.out*
/logs/user/*
\#*#
dependency-reduced-pom.xml
target/
tests.log*
*.DS_Store
